*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    height: 100px;

}

.header img{
    height: 90px;
}

.header a{
    font-size: 20px;
    color: gray;
    font-weight:500;
}